
:root {

    --violet: hsl(257, 40%, 49%);
    --magenta: hsl(300, 69%, 71%);

}


*, *::before, *::after {

    box-sizing: border-box;
}





body {
        margin: 0;
        padding: 0;
        background-color: var(--violet);
        font-family: Open-Sans, sans-serif;
        font-size: 100%;
        background-image: url(/images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;

}




.header {

    margin: 80px;
}




.flex-container {

    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-grow: 1;
    margin-left: 100px;
}


@media (max-width: 375px) {

    .flex-container {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        
    }
}


@media (max-width: 375px) {


    .header {

        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .header-logo {

        width: 150px;
        height: auto;
    }

}


/* Content on the right site */

.flex-container .content-wrapper {

    display: flex;
    flex-grow: .2;
    flex-direction: column;
    align-items: flex-start;
    padding: 4.5rem;
    /* border: 2px solid black; */
    margin-right: 300px;
    width: 1000px;
   
}


@media (max-width: 375px) {

    .flex-container .content-wrapper {

     
        align-items: center;
        margin: 0;
        width: 100%;
        padding: 1rem 1rem 2rem 1rem;
    }


}



.title {

    font-weight: 600;
    color: #fff;
    font-size: 4rem;
    font-family: Poppins;
}


@media (max-width: 375px) {

    
    .title {

        font-size: 1.5rem;
        font-size: normal;
        text-align: center;
        margin: 0rem 1rem 0rem 1rem;

    }
}

.content {
     
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7;
    width: 100%;
    padding-right: 100px;
     
}

@media (max-width: 375px) {

    .content {

        font-size: 1rem;
        text-align: center;
        padding: 20px 20px 0px 20px;
        line-height: 1.5;
        font-weight: normal;
    }
}





.btn {

    text-decoration: none;
    color: var(--violet);
    background-color: #fff;
    padding: 1.5rem 5rem;
    border-radius: 2rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s;
}

.btn:hover {
    
    background-color: var(--magenta);
    color: #fff;
}


@media (max-width: 375px) {

    .btn {

        font-size: .8rem;
        padding: 1rem 6rem;
        margin: 0;

    }
}



/* === Content on the left site === */


.flex-container .img-wrapper {

        flex-grow: .8;
        flex-direction: column;
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        /* border: 2px solid black; */
       
}

@media (max-width: 375px) {


    .flex-container .img-wrapper {

        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin-left: 40px;
        margin-right: 40px;
        padding: 0;
    }
}

.flex-container .mockup {

    
    background-image: url(/images/illustration-mockups.svg);
    flex-grow: ;
    height: 75vh;
    width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    
}


@media (max-width: 375px) {

    
    .flex-container .mockup {

        height: 40vh;
        width: 80vw;
        flex-grow: 1;
        background-size: contain;
        background-position: center;

    }


}







/* Footer Social media links */

.footer {
    
    margin-right: 200px;
}

.footer ul {

    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer img {

    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: auto;
    margin: .4rem;
    padding: .2rem;
   
    
}


.footer img:hover {

    filter: 
    invert(0.5)
    sepia()
    hue-rotate(230deg)
    saturate(5)
    brightness(1);

    
}

/* Mobile Footer  */

@media (max-width: 375px) {


    .footer {

        margin: 0;
    }

    .footer ul {

        justify-content: center;
    }

    .footer img {

        margin: 0.5rem;
        padding: .42rem;
        height: 30px;
        width: auto;
    }

}



.attribution { 
    font-size: 11px;
    text-align: center; 
    color: #fff;
    margin: 0px 0px 5px 0px;
    


}
.attribution a { 
    
    font-weight: bold;
    text-decoration: none;
    color:#fff;
    margin: 0;

}

